/*
 *= require_self
 */
@import 'normalize';
@import 'docs';
@import 'welcome';

body {
  color: black;
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
  font-size: 2rem;
  text-transform: capitalize;
  color: #62CCCC;
}

h2 {
  text-transform: capitalize;
}

a {
  color: #62CCCC;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: aliceblue;

  a {
    color: black;
    text-decoration: none;
  }
}

nav {
  a {
    padding: 0 20px;
  }
}

.wrap {
  padding: 2%;
}

.wrapper_with_pading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    font-size: 2rem;
    text-transform: capitalize;

    a {
      text-decoration: none;
      text-align: center;
    }
  }
}

form {
  width: 90%;
}
.new-doc {
  width: 100%;
  text-align: center;
}

input, textarea {
  min-height: 30px;
  margin: 10px 0;
  width: 100%;
}

textarea {
  height: 200px;
}
